
# Xcode
.DS_Store
*.xcuserstate
*.xcworkspace
DerivedData/
build/
.swiftpm/

# Swift Package Manager
/.build
/Packages
Package.resolved
*.xcodeproj
.swiftpm/xcode/package.xcworkspace/xcshareddata/
.swiftpm/xcode/package.xcworkspace/xcuserdata/

# IDE
.vscode/
.idea/

# OS
Thumbs.db